body{
    margin: 0;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #000000 0%, #2d3436 74%);
    color:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    line-height:1.6em;
}

nav ul{
    list-style: none;
}
#navbar{
    position: fixed;
    background-color: #000000;
    width: 100%;
    text-align: center;
    top:0;
}
#navbar li{
    display:inline;
}
#navbar a{
    text-decoration:none;
    padding-right:20px;
    color:#F2F2F2;
    font-size: 20px;
}

#navbar a:hover{
    color:#A62929;
}

.container{
    width: 80%;
    margin: 0 auto;
    overflow:hidden;
    height:725px;
}
#top{
    width: 100%;
}
.main-pic{
    margin-top: 220px;
    float: left;
    width: 551px;
    height: 506px;
}
.intro{
    float:right;
    width: 50%;
    margin-top: 350px;
    text-align: center;
}
.intro img{
    height:50px;
}
label{
    font-size:60px;
    margin-bottom:20px;
    font-weight: bold;
    display: block;
}
#top p{
    font-size:30px;
}
#about{
    text-align: center;
}
#about p{
    font-size: 20px;
}
.text{
    margin-top: 150px;
    width: 40%;
    float:left;
    justify-content: space-evenly;
}
.profile{
    margin-top: 80px;
    width: 60;
    float:right
}
#skills label{
    margin-top: 100px;
}
#skills img{
    height: 150px;
    padding: 40px;
}
#project label{
    margin-top:80px;
}
#project img{
    height: 320px; 
}
.project-container{
    width:33.3%;
    float:left;
    text-align:center;
}
#project p{
    font-size: 30px;
}
#contact label{
    margin-top:100px;
    font-size:30px
}
#contact img{
    height: 30px;   
}
.container-contact{
    width: 80%;
    margin: 0 auto;
    overflow:hidden;
    text-align:center;
}
#contact p,i{
    display: inline;
    padding: 10px;
    font-size: 20px;
}
