*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #000000 0%, #2d3436 74%);
    color:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.4;
    min-height: 100vh;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding:0 0.1rem;
    min-height: 100%;
}
#navbar{
    width:100%;
}
.navbar-container{
    text-align: right;
    padding: 0.2rem 0;
}
.navbar-container a{
    text-decoration: none;
    color:#F2F2F2;
    letter-spacing: .8px;
    display: inline-block;
    padding: 0.2rem 0.2rem;
    font-size: 2rem;
    border: 1px solid transparent;
}
.navbar-container a:hover{
    color:#A62929;
    border-bottom: 2px solid #A62929;
}
#home{
    padding-top:4rem;
    height: 100%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-img{
    width: 50%;
    height: auto;
    display: flex;
    justify-content:center;
}
.home-img img{
    border-radius: 5%;
    width: 90%;
    height: auto;
}
.intro{
    width: 50%;
    text-align: center;
    padding-top: 3em;
    padding-left:50px;
}
label{
    font-size: 60px;
    font-weight: bold;
}
.intro p{
    font-size: 30px;
    margin-bottom: 10px;
}
.intro img{
    height:2rem;
}
#about{
    padding-top:5rem;
}
#about label{
    font-size: 5em;
}
.text{
    width: 50%;
}
.text p{
    font-size: 20px;
    text-align: justify;
}
.profile{
    width:50%;
    padding-left: 30px;
    display: flex;
    justify-content:center;
}
.profile img{
    width: 70%;
    height: auto;
}
#skills{
    padding-top: 5rem;
}
#skills label{
    font-size:5em;
}
#skills img{
    height: 150px;
    padding: .5em;
}
#project{
    padding-top: 5rem;
}
#project label{
    font-size: 5em;
}
#project img{
    height: 320px; 
}
.project-container{
    width:33.3%;
    text-align:center;
}
#project p{
    font-size: 30px;
}
#contact{
    padding-top: 5rem;
}
#contact label{
    font-size: 5em;
}
#contact p{
    font-size: 2em;
}
.bold{
    font-weight: 800;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .flex-container{
        flex-direction:column;
    }
    .navbar-container{
        text-align: center;
    }
    .navbar-container a{
        font-size: 1.5rem;
    }
    .home-img{
        width: 80%;
    }
    .intro{
        width: 90%;
        text-align: center;
        padding-top: 3em;
        padding-left: 0;
    }
    .intro label{
        font-size: 2em;
    }
    .intro p{
        margin-bottom: 10px;
        font-size: 1.5em;
    }
    #about label{
        font-size: 3em;
    }
    .text{
        width: 80%;
    }
    .profile{
        display: none;
    }
    #skills{
        padding-top: 5rem;
        text-align: center;
    }
    #skills label{
        font-size:3em;
    }
    #skills img{
        height: 150px;
        padding: .5em;
    }
    #project{
        text-align: center;
    }
    #project label{
        font-size: 3em;
    }
    #project img{
        padding-top: 10px;
    }
    .project-container{
        width:80%;
        text-align:center;
        padding-top: 2em;
    }
    #contact{
        text-align: center;
    }
    #contact label{
        font-size: 3em;
    }
    #contact .container p{
        font-size:20px;
    }
}
@media only screen and (max-width: 768px){
    .navbar-container{
        text-align: center;
    }
    .flex-container{
        justify-content: center;
        flex-direction: column;
    }
    .home-img{
        width: 50%;
    }
    .home-img img{
        width: 100%;
    }
    .intro{
        padding-right: 10px;
        width: 80%;
    }
    label{
        font-size: 50px;
    }
    .intro p{
        font-size: 30px;
    }
    #about{
        padding-top:5rem;   
    }
    #project label{
        padding-left: 20px;
    }
    #about label{
        font-size: 4em;
    }
    .text{
        width: 80%;
    }
    .text p{
        font-size:30px;
    }
    .profile{
        display: none;
    }
    #skills{
        margin-left: 20px;
    }
    #skills label{
        font-size:5em;
    }
    #skills img{
        height: 150px;
        padding: .5em;
    }
    #project{
        padding-top: 5rem;
    }
    #project label{
        font-size: 5em;
    }
    .project-container{
        width:80%;
        text-align:center;
    }
    #project p{
        font-size: 40px;
    }
    #contact{
        padding-left: 40px;
    }
    #contact p{
        font-size:2rem;
    }
}
@media only screen and (max-width: 1024px){
    body:not(#home #navigation){
        padding-left: 10px;
    }
}
